
:root{
    --space:10px;
    --blur:10px;
    --warna: #fff;
}

img{
    padding: var(--space);
    filter: blur(var(--blur));
    background: var(--warna);
}

.hl{
    color: var(--warna);
}

body{
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;

}

.kontrol{
    margin-bottom: 50px;
}

input{
    width: 100px;
}